pypinyin
panphon
lingpy
eng_to_ipa
dragonmapper
sktime
openai
num2words @ git+https://github.com/savoirfairelinux/num2words.git
tqdm
pandas
python-calamine
abydos @ git+https://github.com/denizberkin/abydos.git
